*{
    padding:0;
    margin:0;
}

h1,h2,h3,h4,p,li {
    font-family: sans-serif;
    color:#444;
}

h1,h2,h3 {
    color:#1098ad;
}


h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}



h2 {
    font-size: 40px;
    margin-bottom: 20px;
    position:relative;
}

h2::after {
    content: "TOP";
    color:#444;
    background-color:#ffe70e;
    font-size:16px;
    font-weight:bold;
    display:inline-block;
    position:absolute;
    padding:5px 10px;
    right:-25px;
    top:-15px;
}

h3 {
    font-size : 30px;
    margin-bottom: 20px;
}

h4{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.post-img{
    width:100%;
    height:auto;
}



p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}

/*footer p {*/
/*    font-size: 16px;*/
/*}*/

/*article header p {*/
/*    font-size: 16px;*/
/*    font-style: italic;*/
/*}*/

li{
    font-size: 20px;
}

#author {
    font-size: 18px;
    font-style: italic;
}

#copyright{
    font-size: 16px;
    font-style: italic;
}

.related-author{
    font-size: 16px;
    font-weight: bold;
}

.related{
    list-style: none;
}

.main-header{
    background: #f7f7f7;
    padding: 20px 40px;
    margin-bottom:60px;
}

.post-header{
    margin-bottom: 40px;
}

aside{
    background: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    padding :50px 20px;
}

a:link{
    text-decoration: none;
    color: #1098ad;
}

a:visited{
    text-decoration: none;
    color: #1098ad;
}
a:hover{
    text-decoration: underline;
    text-underline: #1098ad;
    color:red;
}
a:active{
    text-decoration: none;
}
li:first-child{
    font-weight: bold;
}
li:last-child{
    font-style: italic;
}

ul, ol{
    margin-left: 50px;
    margin-bottom: 20px;
}

.container{
    width:700px;
    margin-left:auto;
    margin-right:auto;
}